In [1]:
from cassandra.cluster import Cluster
import pandas as pd

In [2]:
df=pd.read_csv(r"./Sample-Cleaned-Processed-ERA5-82-23-three-hrs.csv")
df.head()

,time,sst,longitude,latitude,u10,v10,d2m,t2m,cp,e,...,mtnlwrfcs,mcc,siconc,ssro,sp,sro,tcc,tp,tvh,tvl
0,1990-02-01 18:00:00,302.415091,0.184466,0.263158,-0.035342,-1.490403,0.348972,-0.164076,-0.267284,-0.197160,...,-1.068056,-0.136855,0.0,0.0,-0.283372,0.0,-0.398707,-0.358701,0.0,0.0
1,1984-09-01 00:00:00,302.100289,-0.485437,0.052632,-0.393001,0.576780,-0.787275,-0.861831,0.601646,0.594820,...,0.106523,-0.725735,0.0,0.0,0.742389,0.0,0.522738,0.342973,0.0,0.0
2,1992-09-01 18:00:00,302.561316,-0.388350,0.315789,0.232712,0.045055,-0.434447,-0.130685,-0.443827,0.664996,...,-0.321587,-0.483361,0.0,0.0,-0.395785,0.0,-0.755970,-0.498732,0.0,0.0
3,1982-09-01 12:00:00,302.364036,0.757282,-0.578947,0.691109,0.240069,-0.578406,0.303972,-0.192798,0.246658,...,-0.388568,-0.013450,0.0,0.0,0.875878,0.0,-0.591179,-0.312532,0.0,0.0
4,1988-10-01 00:00:00,302.438266,0.058252,-1.000000,0.202797,0.300853,-0.302699,-0.031664,0.027572,0.568087,...,0.329792,0.123960,0.0,0.0,0.096019,0.0,0.283042,0.067986,0.0,0.0

In [17]:
from cassandra.cluster import Cluster
import pandas as pd

In [7]:
# Connect to Cassandra
cluster = Cluster(['localhost'], port=9042)
session = cluster.connect('cds_data')  # Replace with your Cassandra cluster nodes


# Load data into DataFrame (example)
df = pd.read_csv(r"C:\Users\nidhi\Downloads\Sample-Cleaned-Processed-ERA5-82-23-three-hrs.csv")

NoHostAvailable: ("Unable to connect to any servers using keyspace 'big_data'", ['127.0.0.1'])

In [3]:
df.time.to_pydatetime(inplace=True)

AttributeError: 'Series' object has no attribute 'to_pydatetime'

In [30]:
# Prepare the INSERT statement
insert_stmt = session.prepare("""
    INSERT INTO era5_processed (time, latitude, longitude, sst, u10, v10, d2m, t2m, cp, e, hcc, cvh, lai_hv, lai_lv, lcc, cvl, msl, msdwlwrf, msdwlwrfcs, mslhf, msnlwrf, msnlwrfcs, msror, msshf, mtnlwrf, mtnlwrfcs, mcc, siconc, ssro, sp, sro, tcc, tp, tvh, tvl)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")
for index, row in df.iterrows():
    try:
        values = [
            row['time'].to_pydatetime() if pd.notna(row['time']) else None,
            float(row['latitude']) if pd.notna(row['latitude']) else None,
            float(row['longitude']) if pd.notna(row['longitude']) else None,
            float(row['sst']) if pd.notna(row['sst']) else None,
            float(row['u10']) if pd.notna(row['u10']) else None,
            float(row['v10']) if pd.notna(row['v10']) else None,
            float(row['d2m']) if pd.notna(row['d2m']) else None,
            float(row['t2m']) if pd.notna(row['t2m']) else None,
            float(row['cp']) if pd.notna(row['cp']) else None,
            float(row['e']) if pd.notna(row['e']) else None,
            float(row['hcc']) if pd.notna(row['hcc']) else None,
            float(row['cvh']) if pd.notna(row['cvh']) else None,
            float(row['lai_hv']) if pd.notna(row['lai_hv']) else None,
            float(row['lai_lv']) if pd.notna(row['lai_lv']) else None,
            float(row['lcc']) if pd.notna(row['lcc']) else None,
            float(row['cvl']) if pd.notna(row['cvl']) else None,
            float(row['msl']) if pd.notna(row['msl']) else None,
            float(row['msdwlwrf']) if pd.notna(row['msdwlwrf']) else None,
            float(row['msdwlwrfcs']) if pd.notna(row['msdwlwrfcs']) else None,
            float(row['mslhf']) if pd.notna(row['mslhf']) else None,
            float(row['msnlwrf']) if pd.notna(row['msnlwrf']) else None,
            float(row['msnlwrfcs']) if pd.notna(row['msnlwrfcs']) else None,
            float(row['msror']) if pd.notna(row['msror']) else None,
            float(row['msshf']) if pd.notna(row['msshf']) else None,
            float(row['mtnlwrf']) if pd.notna(row['mtnlwrf']) else None,
            float(row['mtnlwrfcs']) if pd.notna(row['mtnlwrfcs']) else None,
            float(row['mcc']) if pd.notna(row['mcc']) else None,
            float(row['siconc']) if pd.notna(row['siconc']) else None,
            float(row['ssro']) if pd.notna(row['ssro']) else None,
            float(row['sp']) if pd.notna(row['sp']) else None,
            float(row['sro']) if pd.notna(row['sro']) else None,
            float(row['tcc']) if pd.notna(row['tcc']) else None,
            float(row['tp']) if pd.notna(row['tp']) else None,
            float(row['tvh']) if pd.notna(row['tvh']) else None,
            float(row['tvl']) if pd.notna(row['tvl']) else None
        ]
        session.execute(insert_stmt, values)
    except Exception as e:
        print(f"Failed to insert data for row {index}: {e}")

# Close the connection
cluster.shutdown()

In [23]:
df_copy = df.copy()

In [6]:
df["time"] = pd.to_datetime(df["time"])

In [28]:
df = df_copy.copy()

In [4]:
from cassandra.cluster import Cluster
import pandas as pd
import xarray as xr
import cdsapi

In [16]:
# Connect to Cassandra
cluster = Cluster(['localhost'], port=9042)
session = cluster.connect('cds_data')  # Replace with your Cassandra cluster nodes

In [6]:
file_path = './new_data.nc'
c = cdsapi.Client()

c.retrieve(
    'reanalysis-era5-single-levels-monthly-means',
    {
        'product_type': 'monthly_averaged_reanalysis_by_hour_of_day',
        'variable': [
        '10m_u_component_of_wind', '10m_v_component_of_wind', '2m_dewpoint_temperature',
        '2m_temperature', 'clear_sky_direct_solar_radiation_at_surface', 'convective_precipitation',
        'evaporation', 'high_cloud_cover', 'high_vegetation_cover',
        'leaf_area_index_high_vegetation', 'leaf_area_index_low_vegetation', 'low_cloud_cover',
        'low_vegetation_cover', 'mean_sea_level_pressure', 'mean_surface_direct_short_wave_radiation_flux',
        'mean_surface_direct_short_wave_radiation_flux_clear_sky', 'mean_surface_downward_long_wave_radiation_flux', 'mean_surface_downward_long_wave_radiation_flux_clear_sky',
        'mean_surface_downward_short_wave_radiation_flux', 'mean_surface_downward_short_wave_radiation_flux_clear_sky', 'mean_surface_downward_uv_radiation_flux',
        'mean_surface_latent_heat_flux', 'mean_surface_net_long_wave_radiation_flux', 'mean_surface_net_long_wave_radiation_flux_clear_sky',
        'mean_surface_net_short_wave_radiation_flux', 'mean_surface_net_short_wave_radiation_flux_clear_sky', 'mean_surface_runoff_rate',
        'mean_surface_sensible_heat_flux', 'mean_top_downward_short_wave_radiation_flux', 'mean_top_net_long_wave_radiation_flux',
        'mean_top_net_long_wave_radiation_flux_clear_sky', 'mean_top_net_short_wave_radiation_flux', 'mean_top_net_short_wave_radiation_flux_clear_sky',
        'mean_wave_direction', 'mean_wave_period', 'medium_cloud_cover',
        'peak_wave_period', 'sea_ice_cover', 'sea_surface_temperature',
        'significant_height_of_combined_wind_waves_and_swell', 'sub_surface_runoff', 'surface_net_solar_radiation',
        'surface_net_solar_radiation_clear_sky', 'surface_pressure', 'surface_runoff',
        'surface_solar_radiation_downward_clear_sky', 'surface_solar_radiation_downwards', 'top_net_solar_radiation',
        'top_net_solar_radiation_clear_sky', 'total_cloud_cover', 'total_precipitation',
        'total_sky_direct_solar_radiation_at_surface', 'type_of_high_vegetation', 'type_of_low_vegetation',
    ],
        'year': [
            '2023',
            '2024',
        ],
        'month': [
            '01'
        ],
        'time': [
            '18:00'
        ],
        'area': [
            5, 120, -5,
            170,
        ],
        'format': 'netcdf',
    },
    file_path)

dataset = xr.open_dataset(file_path)
dataset_df = dataset.to_dataframe().reset_index()
dataset_df["time"] = pd.to_datetime(dataset_df["time"])

2024-05-10 10:51:27,734 INFO Welcome to the CDS
2024-05-10 10:51:27,735 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels-monthly-means
2024-05-10 10:51:27,857 INFO Request is completed
2024-05-10 10:51:27,858 INFO Downloading https://download-0015-clone.copernicus-climate.eu/cache-compute-0015/cache/data5/adaptor.mars.internal-1715302757.1790683-27969-1-e87bdcef-a83e-44e5-875c-96ddd615c77c.nc to ./new_data.nc (1.7M)
2024-05-10 10:51:28,460 INFO Download rate 2.8M/s
C:\Users\sudar\AppData\Local\pypoetry\Cache\virtualenvs\big_data_project-GTrHChF4-py3.9\lib\site-packages\xarray\backends\plugins.py:80: RuntimeWarning: Engine 'cfgrib' loading failed:
Cannot find the ecCodes library
  warnings.warn(f"Engine {name!r} loading failed:\n{ex}", RuntimeWarning)

In [7]:
dataset_df.head()

,longitude,latitude,time,u10,v10,d2m,t2m,cdir,cp,e,...,sro,ssrdc,ssrd,tsr,tsrc,tcc,tp,fdir,tvh,tvl
0,120.0,5.00,2023-01-01 18:00:00,0.109950,-3.003743,296.941992,299.841697,0.0,0.000275,-0.000127,...,-4.336809e-19,0.0,0.0,0.0,0.0,0.912214,0.000321,0.0,6.000107,0.0
1,120.0,5.00,2024-01-01 18:00:00,-2.005079,-4.456922,297.504671,300.566361,0.0,0.000154,-0.000138,...,-4.336809e-19,0.0,0.0,0.0,0.0,0.762250,0.000195,0.0,6.000107,0.0
2,120.0,4.75,2023-01-01 18:00:00,0.356829,-2.903217,296.975210,299.880763,0.0,0.000298,-0.000131,...,-4.336809e-19,0.0,0.0,0.0,0.0,0.905163,0.000347,0.0,0.000000,0.0
3,120.0,4.75,2024-01-01 18:00:00,-1.686885,-4.198672,297.504671,300.636740,0.0,0.000175,-0.000145,...,-4.336809e-19,0.0,0.0,0.0,0.0,0.778690,0.000222,0.0,0.000000,0.0
4,120.0,4.50,2023-01-01 18:00:00,0.534209,-2.736737,296.971153,299.888815,0.0,0.000352,-0.000134,...,-4.336809e-19,0.0,0.0,0.0,0.0,0.896269,0.000405,0.0,0.000000,0.0

In [8]:
df = dataset_df

In [27]:
# Prepare the INSERT statement
insert_stmt = session.prepare("""
    INSERT INTO era5_raw (
        time, latitude, longitude, u10, v10, d2m, t2m, cdir, cp, e, hcc, cvh, lai_hv, lai_lv, lcc, cvl,
        msl, msdrswrf, msdrswrfcs, msdwlwrf, msdwlwrfcs, msdwswrf, msdwswrfcs, msdwuvrf, mslhf, msnlwrf, 
        msnlwrfcs, msnswrf, msnswrfcs, msror, msshf, mtdwswrf, mtnlwrf, mtnlwrfcs, mtnswrf, mtnswrfcs, mwd, mwp, 
        mcc, pp1d, siconc, sst, swh, ssro, ssr, ssrc, sp, sro, ssrdc, ssrd, tsr, tsrc, tcc, tp, fdir, tvh, tvl
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

# Assume 'df' is your DataFrame
for index, row in df.iterrows():
    try:
        values = [
            row['time'].to_pydatetime() if pd.notna(row['time']) else None,
            float(row['latitude']) if pd.notna(row['latitude']) else None,
            float(row['longitude']) if pd.notna(row['longitude']) else None,
            float(row['u10']) if pd.notna(row['u10']) else None,
            float(row['v10']) if pd.notna(row['v10']) else None,
            float(row['d2m']) if pd.notna(row['d2m']) else None,
            float(row['t2m']) if pd.notna(row['t2m']) else None,
            float(row['cdir']) if pd.notna(row['cdir']) else None,
            float(row['cp']) if pd.notna(row['cp']) else None,
            float(row['e']) if pd.notna(row['e']) else None,
            float(row['hcc']) if pd.notna(row['hcc']) else None,
            float(row['cvh']) if pd.notna(row['cvh']) else None,
            float(row['lai_hv']) if pd.notna(row['lai_hv']) else None,
            float(row['lai_lv']) if pd.notna(row['lai_lv']) else None,
            float(row['lcc']) if pd.notna(row['lcc']) else None,
            float(row['cvl']) if pd.notna(row['cvl']) else None,
            float(row['msl']) if pd.notna(row['msl']) else None,
            float(row['msdrswrf']) if pd.notna(row['msdrswrf']) else None,
            float(row['msdrswrfcs']) if pd.notna(row['msdrswrfcs']) else None,
            float(row['msdwlwrf']) if pd.notna(row['msdwlwrf']) else None,
            float(row['msdwlwrfcs']) if pd.notna(row['msdwlwrfcs']) else None,
            float(row['msdwswrf']) if pd.notna(row['msdwswrf']) else None,
            float(row['msdwswrfcs']) if pd.notna(row['msdwswrfcs']) else None,
            float(row['msdwuvrf']) if pd.notna(row['msdwuvrf']) else None,
            float(row['mslhf']) if pd.notna(row['mslhf']) else None,
            float(row['msnlwrf']) if pd.notna(row['msnlwrf']) else None,
            float(row['msnlwrfcs']) if pd.notna(row['msnlwrfcs']) else None,
            float(row['msnswrf']) if pd.notna(row['msnswrf']) else None,
            float(row['msnswrfcs']) if pd.notna(row['msnswrfcs']) else None,
            float(row['msror']) if pd.notna(row['msror']) else None,
            float(row['msshf']) if pd.notna(row['msshf']) else None,
            float(row['mtdwswrf']) if pd.notna(row['mtdwswrf']) else None,
            float(row['mtnlwrf']) if pd.notna(row['mtnlwrf']) else None,
            float(row['mtnlwrfcs']) if pd.notna(row['mtnlwrfcs']) else None,
            float(row['mtnswrf']) if pd.notna(row['mtnswrf']) else None,
            float(row['mtnswrfcs']) if pd.notna(row['mtnswrfcs']) else None,
            float(row['mwd']) if pd.notna(row['mwd']) else None,
            float(row['mwp']) if pd.notna(row['mwp']) else None,
            float(row['mcc']) if pd.notna(row['mcc']) else None,
            float(row['pp1d']) if pd.notna(row['pp1d']) else None,
            float(row['siconc']) if pd.notna(row['siconc']) else None,
            float(row['sst']) if pd.notna(row['sst']) else None,
            float(row['swh']) if pd.notna(row['swh']) else None,
            float(row['ssro']) if pd.notna(row['ssro']) else None,
            float(row['ssr']) if pd.notna(row['ssr']) else None,
            float(row['ssrc']) if pd.notna(row['ssrc']) else None,
            float(row['sp']) if pd.notna(row['sp']) else None,
            float(row['sro']) if pd.notna(row['sro']) else None,
            float(row['ssrdc']) if pd.notna(row['ssrdc']) else None,
            float(row['ssrd']) if pd.notna(row['ssrd']) else None,
            float(row['tsr']) if pd.notna(row['tsr']) else None,
            float(row['tsrc']) if pd.notna(row['tsrc']) else None,
            float(row['tcc']) if pd.notna(row['tcc']) else None,
            float(row['tp']) if pd.notna(row['tp']) else None,
            float(row['fdir']) if pd.notna(row['fdir']) else None,
            float(row['tvh']) if pd.notna(row['tvh']) else None,
            float(row['tvl']) if pd.notna(row['tvl']) else None
        ]
        session.execute(insert_stmt, values)
    except Exception as e:
        print(f"Failed to insert data for row {index}: {e}")

In [10]:
df.columns

Index(['longitude', 'latitude', 'time', 'u10', 'v10', 'd2m', 't2m', 'cdir',
       'cp', 'e', 'hcc', 'cvh', 'lai_hv', 'lai_lv', 'lcc', 'cvl', 'msl',
       'msdrswrf', 'msdrswrfcs', 'msdwlwrf', 'msdwlwrfcs', 'msdwswrf',
       'msdwswrfcs', 'msdwuvrf', 'mslhf', 'msnlwrf', 'msnlwrfcs', 'msnswrf',
       'msnswrfcs', 'msror', 'msshf', 'mtdwswrf', 'mtnlwrf', 'mtnlwrfcs',
       'mtnswrf', 'mtnswrfcs', 'mwd', 'mwp', 'mcc', 'pp1d', 'siconc', 'sst',
       'swh', 'ssro', 'ssr', 'ssrc', 'sp', 'sro', 'ssrdc', 'ssrd', 'tsr',
       'tsrc', 'tcc', 'tp', 'fdir', 'tvh', 'tvl'],
      dtype='object')

In [19]:
st= "  time, latitude, longitude, u10, v10, d2m, t2m, cdir, cp, e, hcc, cvh, lai_hv, lai_lv, lcc, cvl, msl, msdrswrf, msdrswrfcs, msdwlwrf, msdwlwrfcs, msdwswrf, msdwswrfcs, msdwuvrf, mslhf, msnlwrf, msnlwrfcs, msnswrf, msnswrfcs, msror, msshf, mtdwswrf, mtnlwrf, mtnlwrfcs, mtnswrf, mtnswrfcs, mwd, mwp,  mcc, pp1d, siconc, sst, swh, ssro, ssr, ssrc, sp, sro, ssrdc, ssrd, tsr, tsrc, tcc, tp, fdir, tvh, tvl"

In [21]:
st_list = [name.strip() for name in st.split(",")]
st_list

['time',
 'latitude',
 'longitude',
 'u10',
 'v10',
 'd2m',
 't2m',
 'cdir',
 'cp',
 'e',
 'hcc',
 'cvh',
 'lai_hv',
 'lai_lv',
 'lcc',
 'cvl',
 'msl',
 'msdrswrf',
 'msdrswrfcs',
 'msdwlwrf',
 'msdwlwrfcs',
 'msdwswrf',
 'msdwswrfcs',
 'msdwuvrf',
 'mslhf',
 'msnlwrf',
 'msnlwrfcs',
 'msnswrf',
 'msnswrfcs',
 'msror',
 'msshf',
 'mtdwswrf',
 'mtnlwrf',
 'mtnlwrfcs',
 'mtnswrf',
 'mtnswrfcs',
 'mwd',
 'mwp',
 'mcc',
 'pp1d',
 'siconc',
 'sst',
 'swh',
 'ssro',
 'ssr',
 'ssrc',
 'sp',
 'sro',
 'ssrdc',
 'ssrd',
 'tsr',
 'tsrc',
 'tcc',
 'tp',
 'fdir',
 'tvh',
 'tvl']

In [22]:
len(st_list)

57

In [23]:
str2_lst ="?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?"

In [24]:
st_list = [name.strip() for name in str2_lst.split(",")]
st_list

['?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?']

In [29]:
sample_df = df.sample(100)
sample_df.shape

(100, 57)

In [1]:
import psycopg2

In [6]:
try:
    # Replace these values with your own PostgreSQL connection details
    conn = psycopg2.connect(
        host="localhost",
        port=5432,
        dbname="tableau",
        user="myuser",
        password="mypass"
    )

    # If we can connect successfully, print a message
    print("Connection successful!")

except psycopg2.Error as e:
    # If there's an error connecting, print the error message
    print("Error connecting to PostgreSQL database:")
    print(e)

finally:
    # Close the connection
    conn.close()

Error connecting to PostgreSQL database:
connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "myuser"

NameError: name 'conn' is not defined